API_KEY = "AIzaSyA6oPRngPothdj2ilfVBOqQold_kUXh0ok"
AUTH_DOMAIN = "on-a-mission-2a651.firebaseapp.com"
PROJECT_ID = "on-a-mission-2a651"
STORAGE_BUCKET = "on-a-mission-2a651.appspot.com"
MESSAGING_SENDER_ID = "545693050694"
APP_ID = "1:545693050694:web:8ef03e0e64a34af39b2747"
MEASUREMENT_ID = "G-KQ39PHPYP4"